
<!--<h1>
  {{title}}
</h1>
 <div id="myProgress">
  <div id="myBar"></div>
</div>
<br>
<button (click)="move()">Click Me</button> 

<p>In this example we have turned off parallax scrolling for mobile devices. It works as expected on all desktop screens sizes.</p>
<p>Scroll Up and Down this page to see the parallax scrolling effect.</p> -->


<div class="icon-bar">
  <a href="/">
    <img class="logo" src="../assets/img/IM GV2 2.png">
  </a>
  <a class="tab-control" href="#"><p class="active">Зачем Вам?</p></a> 
  <a class="tab-control" href="#"><p>Портфолио</p></a> 
  <a class="tab-control" href="#"><p>Почему Я?</p></a> 
  <a class="tab-control" href="#"><p>Услуги</p></a>
  <a class="tab-control" href="#"><p>Контакты</p></a> 
</div>

<div>
    <div class="center-block" >
      Если у вас намечается свадьба, юбилей, корпоративное мероприятие, вечеринка, день рождения, наполните его волшебством! Звоните!
      <a>Да, я хочу, чтобы о моем событии говорили с восторгом</a>
    </div> 


<div class="parallax main">
    <h1 class="main-title"><p><b style="color: #ECBE00;">Г</b>ОРБАЧЕВ</p><p>ВЛАДИСЛАВ<b style="color: #ECBE00;">.</b></p></h1>
    <h4 class="main-title add">• ИЛЛЮЗИОНИСТ НОВОГО ПОКОЛЕНИЯ •</h4>
    <h2 class="text-main-title">ВОЛШЕБНОЕ ШОУ НА ВАШЕМ ПРАЗДНИКЕ</h2>
    <h2 class="text-main-title city">г. Донецк</h2>
</div>




 

<div class="parallax cards">
<br><h1 style="color:white">ЧТО ВЫ ПОЛУЧИТЕ ЧТО ВЫ ПОЛУЧИТЕ ЧТО ВЫ ПОЛУЧИТЕЧТО ВЫ ПОЛУЧИТЕЧТО ВЫ ПОЛУЧИТЕ</h1>

</div>
</div>